<VirtualHost *:80>
    ServerName {{ selfoss_subdomain }}.{{ item.name }}

    Redirect temp / https://{{ selfoss_subdomain }}.{{ item.name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ selfoss_subdomain }}.{{ item.name }}

    SSLEngine               On
    DocumentRoot            /var/www/selfoss
    Options                 -Indexes
    LogLevel                warn
    ErrorLog                /var/log/apache2/selfoss.info-error_log
    CustomLog               /var/log/apache2/selfoss.info-access_log common

    <Directory /var/www/selfoss>
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>
</VirtualHost>
