<VirtualHost *:80>
    ServerName {{ mail_server_autoconfig_hostname }}

    Redirect temp / https://{{ mail_server_autoconfig_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ mail_server_autoconfig_hostname }}

    SSLEngine               On
    DocumentRoot            "/var/www/autoconfig"
    Options                 -Indexes
    HostnameLookups         Off
    LogLevel                warn
    ErrorLog                /var/log/apache2/autoconfig.info-error_log
    CustomLog               /var/log/apache2/autoconfig.info-access_log common
</VirtualHost>
