[Unit]
Description=Starts the gPodder server
Requires=network.target
After=network.target
After=syslog.target

[Service]
Type=simple
User=gpodder
Restart=always
RestartSec=3
WorkingDirectory=/home/gpodder
ExecStart=bash -c './env.sh gunicorn mygpo.wsgi:application --bind=127.0.0.1:{{ gpodder_internal_port }} --workers=2 --access-logfile -'
StandardOutput=append:/home/gpodder/gpodder_out.log
StandardError=append:/home/gpodder/gpodder_err.log

[Install]
WantedBy=multi-user.target
