<?php
/**
 * This is an example of how a local.php could look like.
 * Simply copy the options you want to change from dokuwiki.php
 * to this file and change them.
 *
 * When using the installer, a correct local.php file be generated for
 * you automatically.
 */


$conf['title'] = '{{ domain }} Wiki';
$conf['lang'] = 'en';
$conf['license'] = 'cc-by-sa';

$conf['savedir'] = '/data/dokuwiki';

$conf['useacl'] = 1;
$conf['superuser'] = '@admin';
$conf['passcrypt'] = 'bcrypt';

$conf['disableactions'] = 'register';

$conf['userewrite'] = 1;
$conf['useslash'] = 1;

{% if dokuwiki_enable_ldap == true %}

$conf['authtype'] = 'authldap';

$conf['plugin']['authldap']['server']   = 'localhost';
$conf['plugin']['authldap']['port']     = 389;
$conf['plugin']['authldap']['version']  = 3;
$conf['plugin']['authldap']['binddn']   = 'uid=admin,ou=people,{{ ldap_domain_string }}';
$conf['plugin']['authldap']['bindpw']   = '{{ slapd_admin_password }}';
$conf['plugin']['authldap']['usertree'] = 'uid=%{user},ou=people,{{ ldap_domain_string }}';

{% endif %}
