grafana_subdomain: "iot"
grafana_domain: "{{ grafana_subdomain }}.{{ domain }}"

grafana_internal_port: '2942'

mqtt_admin_version: '1.0.0'
mqtt_admin_release: "https://github.com/hobbyquaker/mqtt-admin/releases/download/v{{ mqtt_admin_version }}/mqtt-admin_{{ mqtt_admin_version }}.zip"

grafana_main_user: "{{ main_user_name }}"
grafana_main_user_password: "{{ lookup('password', secret + '/' + 'grafana_main_user_password length=20 chars=hexdigits') }}"

mosquitto_users:
  - name: "{{ main_user_name }}"
    password: "{{ lookup('password', secret + '/' + 'mosquitto_main_user_password length=20 chars=hexdigits') }}"

grafana_signing_key: "{{ lookup('password', secret + '/' + 'grafana_signing_key length=20 chars=hexdigits') }}"

grafana_db_username: grafanauser
grafana_db_password: "{{ lookup('password', secret + '/' + 'grafana_db_password length=32 chars=hexdigits') }}"
grafana_db_database: grafana

# must match values in roles/common
db_admin_username: 'postgres'
db_admin_password: "{{ lookup('password', secret + '/' + 'db_admin_password length=32') }}"
