<VirtualHost *:80>
    ServerName {{ grafana_subdomain }}.{{ item.name }}
    ServerAlias {{ grafana_subdomain }}

    Redirect temp / https://{{ grafana_subdomain }}.{{ item.name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ grafana_subdomain }}.{{ item.name }}
    ServerAlias {{ grafana_subdomain }}
    ServerAlias {{ domain }}

    SSLEngine               On
    DocumentRoot            "{{ item.doc_root }}"
    DirectoryIndex          index.html
    Options                 -Indexes
    HostnameLookups         Off
    LogLevel                warn
    ErrorLog                /var/log/apache2/grafana.info-error_log
    CustomLog               /var/log/apache2/grafana.info-access_log common

    Alias                   /mqtt /var/www/mqtt-admin
    ProxyPassMatch          ^/mqtt !

    ProxyRequests           Off
    ProxyPreserveHost       On

    ProxyPass               /nodered/ http://localhost:1880/
    ProxyPassReverse        /nodered/ http://localhost:1880/

    ProxyPass               /monit/ http://localhost:2812/
    ProxyPassReverse        /monit/ http://localhost:2812/

    ProxyPass               / http://localhost:{{ grafana_internal_port }}/
    ProxyPassReverse        / http://localhost:{{ grafana_internal_port }}/
</VirtualHost>
