<VirtualHost *:80>
    ServerName {{ webmail_subdomain }}.{{ item.name }}

    Redirect temp / https://{{ webmail_subdomain }}.{{ item.name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ webmail_subdomain }}.{{ item.name }}

    SSLEngine               On
    DocumentRoot            /var/lib/roundcube
    Options                 -Indexes
    LogLevel                warn
    ErrorLog                /var/log/apache2/roundcube.info-error_log
    CustomLog               /var/log/apache2/roundcube.info-access_log common

    <Directory /var/lib/roundcube>
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>

    <Directory /var/lib/roundcube/config>
        AllowOverride None
        Require all denied
    </Directory>

    <Directory /var/lib/roundcube/temp>
        AllowOverride None
        Require all denied
    </Directory>

    <Directory /var/lib/roundcube/logs>
        AllowOverride None
        Require all denied
    </Directory>
</VirtualHost>
