[Unit]
Description=Commento daemon service
After=network.target postgresql.service

[Service]
Type=simple
User={{ main_user_name }}
Restart=always
RestartSec=3
WorkingDirectory=/home/{{ main_user_name }}/commento
ExecStart=/home/{{ main_user_name }}/commento/commento
Environment=COMMENTO_ORIGIN=https://{{ commento_subdomain }}.{{ domain }}
Environment=COMMENTO_CDN_PREFIX=https://{{ commento_subdomain }}.{{ domain }}
Environment=COMMENTO_PORT={{ commento_internal_port }}
Environment=COMMENTO_POSTGRES=postgres://{{ commento_db_username }}:{{ commento_db_password }}@localhost:5432/{{ commento_db_database }}?sslmode=disable
Environment=COMMENTO_STATIC=/home/{{ main_user_name }}/commento
Environment=COMMENTO_BIND_ADDRESS=127.0.0.1
Environment=COMMENTO_SMTP_HOST={{ domain }}
Environment=COMMENTO_SMTP_PORT=587
Environment=COMMENTO_SMTP_USERNAME=noreply@{{ domain }}
Environment=COMMENTO_SMTP_PASSWORD={{ lookup('password', secret + '/' + 'mail_noreply_password length=20 chars=ascii_lowercase,ascii_uppercase,digits') }}
Environment=COMMENTO_SMTP_FROM_ADDRESS=noreply@{{ domain }}
Environment=COMMENTO_FORBID_NEW_OWNERS=true
Environment=COMMENTO_ENABLE_LOGGING=false

[Install]
WantedBy=multi-user.target
