<VirtualHost *:80>
    ServerName {{ item.name }}
    ServerAlias www.{{ item.name }}

    Redirect temp / https://www.{{ item.name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ item.name }}
    ServerAlias www.{{ item.name }}

    SSLEngine               On
    DocumentRoot            "{{ item.doc_root }}"
    DirectoryIndex          index.html
    Options                 -Indexes
    HostnameLookups         Off
</VirtualHost>
