<html>
	<head>
		<title>{{ item.name }}</title>
	</head>
	<body>
		<h1>{{ item.name }}</h1>
		<p>Bitte gehen Sie weiter, hier gibt es nichts zu sehen!</p>
		<p>Please go along, there is nothing to see here!</p>

		<!-- Commento comments (Disqus alternative) -->
		<div id="commento"></div>
		<script src="https://{{ commento_subdomain }}.{{ domain }}/js/commento.js"></script>

		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<!-- TODO: replace 'JTPIK' with your correct site-id in fathom -->
		<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.{{ domain }}/tracker.js', 'fathom');
fathom('set', 'siteId', 'JTPIK');
fathom('trackPageview');
		</script>
		<!-- / Fathom -->
	</body>
</html>
